<!-- Footer -->

  <div class="bottom-container">
    <a class="footer-link" href="https://github.com/calumengee/calumnguyenOFFICIAL"><%=git%></a>
    <a class="copyright" id="copyright">© 2020 Calum Nguyen.</a>
  </div>

<!-- End footer -->
