<!-- Footer -->

  <div class="bottom-container">
    <a class="footer-link" href="https://github.com/calumengee/calumnguyenOFFICIAL"><%=git%></a>
    <% const year = new Date().getFullYear();%>
    <a class="copyright" id="copyright"></a>
  </div>

<!-- End footer -->
