<%- include("partials/header"); -%>
  <!-- Main body -->

    <!-- Form validation and animation -->
<section class="colored-section" id="signup">
  <div class="row">
    <div class='col'id='connect-message'>
      <h1 id='prompt'> <%=last%> </h>
    </div>
      <form action="/connect" method="POST">
        <div class="field-lname active doNotPost">
          <input type="text" name="lName" autofocus require />
          <i class="fas fa-arrow-circle-down lname"></i>
        </div>
        <div class="field-fname inactive doNotPost">
          <input type="text" name="fName" require />
          <i class="fas fa-arrow-circle-down fname"></i>
        </div>
        <div class="field-email inactive doNotPost">
          <input type="email" name="email" require/>
          <i class="fas fa-arrow-circle-down email"></i>
        </div>
        <div class="field-like inactive doNotPost">
          <input type="text" name="like" id="like-input"  />
          <i class="fas fa-arrow-circle-down like"></i>
        </div>
        <div class="field-message inactive">
          <input type="text" name="message" id="message-input" />
          <button type ="submit" class="fas fa-arrow-circle-down message"></button>
        </div>
      </form>

  </div>
</section>

  <!-- End form validation/ animation -->

<!-- End main body -->

<%- include("partials/footer"); -%>

<script src='https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js'></script>
<script src='/JS/connect.js' charset='utf-8'></script>
<script src='https://code.jquery.com/jquery-3.2.1.slim.min.js' integrity='sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN' crossorigin='anonymous'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js' integrity='sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q' crossorigin='anonymous'></script>
<script src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js' integrity='sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl' crossorigin='anonymous'></script>

</body>

</html>
